<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cauldron.BasicInterceptors" version="3.2.3" targetFramework="net48" />
  <package id="Cauldron.Interception.Fody" version="3.2.3" targetFramework="net48" />
  <package id="Fody" version="3.2.10" targetFramework="net48" developmentDependency="true" />
  <package id="NLog" version="4.5.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PostSharp" version="6.10.13" targetFramework="net48" />
  <package id="PostSharp.Redist" version="6.10.13" targetFramework="net48" />
</packages>